body{
    width: 100vw;
    background-color: #ADADAD;
    font-family: arial bold 18px;
}
.container{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr;

}
.header{
    grid-column: 2/3;
    background-color: #DB7F1F;

}
.header a{
    grid-column: 2/3;
    font-size: 2rem;
    text-decoration: none;
    color: #502B13;
    flex-direction: column;



}
.header__img{
    grid-column: 2/3;
    display: flex;

    
}
.header__titulo{
    font-size: 2rem;
    grid-column: 2/3;
}
.header__contenido{
    grid-column: 2/3;
}
.main{
    grid-column: 2/3;
    background-color: #DB7F1F;
}
.main a{
    font-size: 2rem;
    color: #502B13;
    text-decoration: none;
}
.main__class--proyecto{
    grid-column: 2/3;
    font-size: 2rem;
    color: #502B13;
}
.main__central--banner1{
    grid-column: 2/3;

}
.main__central--caja1{
    width: 60px;
    height: 6opx;
    border-radius: 10px;
}
.main__central--banner2{
    grid-column: 2/3;
}
.footer{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #DB7F1F;
}
.footer a{
    font-size: 2rem;
    text-decoration: none;
    color: #502B13;
}
.footer__form--nombre{
    width: 80px;
    height: 20px;
}

